<div class="mb-3">
    <input type="number" class="form-control" name="{{ current }}">
  </div>
  <div class="mt-3">
    <button class="btn btn-primary" id="submit" disabled>次へ</button>
  </div>
  <script>
const name = '{{ current }}';

function restoreSessionStorage(name) {
  const input = sessionStorage.getItem(name);
  if (input) {
    $('input[name="' + name + '"]').val(input);
  }
}

function activateSubmit(name) {
  const input = $('input[name="' + name + '"]').val();
  if (input) {
    $("#submit").prop("disabled", false);
  } else {
    $("#submit").prop("disabled", true);
  }
}

function getEntryType(entry) {
  if (entry.type === "reload") {
    // console.log(`${entry.name} was reloaded!`);
    // console.log(entry);
    // alert("pageshow event fired - reloaded!");
  }
  if (entry.type === "navigate") {
    // console.log(`${entry.name} was navigated!`);
    // console.log(entry);
    // alert("pageshow event fired - was navigated!");
  }
  if (entry.type === "back_forward") {
    // console.log(`${entry.name} was back_forwarded!`);
    // console.log(entry);
    // alert("pageshow event fired - was back_forwarded!");
    /*
    var field = document.getElementById('name');
    console.log(field);
    if (field) {
      var v = sessionStorage.getItem('name');
      console.log(v);
      field.value = sessionStorage.getItem('name');
    }
    */
  }
  if (entry.type === "prerender") {
    // console.log(`${entry.name} was prerendered!`);
    // console.log(entry);
    // alert("pageshow event fired - was prerendered!");
  }
}

const entries = performance.getEntriesByType("navigation");
entries.forEach((entry) => {
  // console.log(sessionStorage);
  restoreSessionStorage(name);
  activateSubmit(name);
  getEntryType(entry);
});

  $(document).ready(function () {
    $(document).on("input", 'input[name="' + name + '"]', function (e) {
      const input = $(this).val();
      // console.log('input');
      // console.log(input);
      activateSubmit(name);
    });

    $(document).on("click", "#submit", function (e) {
      e.preventDefault();
      const input = $('input[name="' + name + '"]').val();
      sessionStorage.setItem(name, input);
      // alert(input + 'saved');
      location.href = "{{ next }}.html";
    });
  });
  </script>
